# NPM
node_modules

# Production output
lib

# Configuration
.env

# Logs
logs

# Database
data

# IDEA files
.idea/

# ESLint cache
.eslintcache

# Coverage directory used by tools like istanbul
coverage
*.lcov
